<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">

    <context-param>
        <param-name>javax.faces.PROJECT_STAGE</param-name>
        <param-value>Development</param-value>
    </context-param>

    <servlet>
        <servlet-name>Faces Servlet</servlet-name>
        <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>Faces Servlet</servlet-name>
        <url-pattern>*.xhtml</url-pattern>
    </servlet-mapping>

    <!-- Application initializing servlet -->

    <listener>
        <listener-class>tk.crypfolio.init.AppInitServlet</listener-class>
    </listener>

    <!-- Welcome file and error pages -->

    <welcome-file-list>
        <welcome-file>/faces/login.xhtml</welcome-file>
    </welcome-file-list>

    <error-page>
        <error-code>400</error-code>
        <location>/WEB-INF/templates/error-page.xhtml</location>
    </error-page>
    <error-page>
        <error-code>403</error-code>
        <location>/WEB-INF/templates/error-page.xhtml</location> <!-- We don't want to leak restricted pages, so 404 instead of 403. -->
    </error-page>
    <error-page>
        <error-code>404</error-code>
        <location>/WEB-INF/templates/error-page.xhtml</location>
    </error-page>
    <error-page>
        <error-code>500</error-code>
        <location>/WEB-INF/templates/error-page.xhtml</location>
    </error-page>
    <error-page>
        <exception-type>javax.faces.application.ViewExpiredException</exception-type>
        <location>/WEB-INF/templates/error-page.xhtml</location>
    </error-page>

    <!--for ViewExpiredException (source https://stackoverflow.com/questions/3642919/javax-faces-application-viewexpiredexception-view-could-not-be-restored)-->
    <context-param>
        <param-name>com.sun.faces.enableRestoreView11Compatibility</param-name>
        <param-value>true</param-value>
    </context-param>

    <!-- Session configuration -->

    <session-config>

        <session-timeout>0</session-timeout>

        <cookie-config>
            <http-only>true</http-only> <!-- Prevent client side scripting from accessing/manipulating session cookie. -->
        </cookie-config>
        <tracking-mode>COOKIE</tracking-mode> <!-- This disables URL rewriting. -->

    </session-config>


    <mime-mapping>
        <extension>ico</extension>
        <mime-type>image/x-icon</mime-type>
    </mime-mapping>

</web-app>