@import url('https://fonts.googleapis.com/css?family=Jua|Lobster|Roboto+Mono');

html {
    background-color: #ffffff;
    font-size: 13px;
    font-family: 'Roboto Mono', monospace;
    color: #000000;
    margin: 0 auto;
    min-width: 800px;
    width: 100%;
}

body {
}

header, section, article, aside, footer {
    /*display: block;*/
}

.login-logo {
    padding: 30px 0 30px 0;
    margin: auto;
    width: 384px;
}

.left {
    float: left;
}

.right {
    float: right;
}

.clear {
    clear: both;
}

.menu-account {
    padding: 5px 5px 0 0;
}

.menu-account-img {
    margin-right: 5px;
    vertical-align: top;
}

.forms-wrapper {
    margin: auto;
    width: 400px;
    line-height: 2.5;
}

.upp-case {
    text-transform: uppercase;
}

.add-item-coin-button {
    width: 100%;
    height: 100%;
}

.ui-selectonemenu {
    width: 84% !important;
}

.ui-selectonemenu-label {
    width: 100% !important;
}

.hidden {
    display: none;
}

.red {
    color: red !important;
}

.green {
    color: green !important;
}

.material-icons.blue {
    color: #008abd;
}

.panelGridCenter td, .panelGridCenter tr {
    text-align: center;
}

.panelGridTransparent td, .panelGridTransparent tr {
    background-color: transparent;
    border: 0 !important;
}

.symbol-image-32px {
    width: 32px;
    height: 32px;
    float: left;
}

.row-expansion-currency {
    display: block;
    height: 30px;
    padding: 10px 0;
    background-color: #f2f5f9;
}

/* Primefaces UI Styles*/
.ui-widget {
    font-family: 'Roboto Mono', monospace;
}

.panelGridCenter tr {
    border-bottom-width: 2px !important;
    border-bottom-color: #f2f5f9;
}

.ui-datatable * {
    border-width: 0 !important;
}

.ui-widget-content {
    background: white;
    margin-top: 10px;
}

/*.ui-datatable tbody tr {*/
/*border-bottom: 10px;*/
/*}*/

/*
.ui-datatable-header {
    background-color: unset;
    text-align: left !important;
    font-family: 'Jua', monospace;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 30px;
}
*/

.ui-state-default {
    background: #f5f7f8;
    color: #333;
}

.ui-state-active, .ui-sortable-column:hover {
    background: #ffda62;
}

body .ui-buttonset .ui-button {
    margin-left: 10px;
}

.ui-separator {
    height: 4px;
}

.ui-panelgrid .ui-widget {
    width: 100%;
}

.ui-dialog .ui-dialog-buttonpane {
    text-align: center !important;
}

.ui-selectonebutton {
    display: inline-flex !important;
}

.ui-expanded-row-content td {
    padding: 0 !important;
}

/* to fix dataTable - stickyHeader="true" problem */
.myTabview.ui-tabs {
    position: static;
}

.ui-growl {
    z-index: 9999 !important;
}

.ui-button {
    background: #ffda62 !important;
}

.ui-button:hover {
    background: darkorange !important;
}