@import url('https://fonts.googleapis.com/css?family=Jua|Lobster|Roboto+Mono');

html {
    background-color: #ffffff;
    font-size: 13px;
    font-family: 'Roboto Mono', monospace;
    color: #000000;
    margin: 0 auto;
    min-width: 800px;
    width: 100%;
}

body {
}

header, section, article, aside, footer {
    /*display: block;*/
}

.main-wrapper {
    margin: 10px;
}

.login-logo {
    padding: 30px 0 30px 0;
    margin: auto;
    width: 384px;
}

.left {
    float: left;
}

.right {
    float: right;
}

.clear {
    clear: both;
}

.menu-account {
    padding: 5px 5px 0 0;
}

.menu-account-img {
    margin-right: 5px;
    vertical-align: middle;
}

.forms-wrapper {
    margin: auto;
    width: 400px;
    line-height: 2.5;
}

.upp-case {
    text-transform: uppercase;
}

.hidden {
    display: none;
}

.red {
    color: red !important;
}

.green {
    color: green !important;
}

.material-icons.blue {
    color: #008abd;
}

.panelGridCenter td, .panelGridCenter tr {
    text-align: center;
}

.panelGridTransparent td, .panelGridTransparent tr {
    background-color: transparent;
    border: 0 !important;
}

.symbol-image-32px {
    width: 32px;
    height: 32px;
    float: left;
}

.row-expansion-currency {
    display: block;
    height: 30px;
    padding: 10px 0;
    background-color: #f2f5f9;
}

#portfMainData {
    line-height: 0.3em;
    width: 80%;
}

/******************     Primefaces UI Styles      **********************/
/*.ui-widget {*/
/*font-family: 'Roboto Mono', monospace;*/
/*}*/

.ui-selectonemenu {
    width: 84% !important;
}

.ui-selectonemenu-label {
    width: 100% !important;
}

.panelGridCenter tr {
    border-bottom-width: 2px !important;
    border-bottom-color: #f2f5f9;
}

.ui-datatable * {
    border-width: 0 !important;
}

.ui-widget-content {
    background: white;
}

.ui-datatable-even, .ui-datatable-odd {
    background: white;

}

/*.ui-datatable tbody tr {*/
/*border-bottom: 10px;*/
/*}*/

/*
.ui-datatable-header {
    background-color: unset;
    text-align: left !important;
    font-family: 'Jua', monospace;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 30px;
}
*/

.ui-state-default {
    background: #f5f7f8;
    color: #333;
}

.ui-state-active, .ui-sortable-column:hover {
    background: #ffda62;
}

.ui-separator {
    height: 4px;
}

.ui-panelgrid .ui-widget {
    width: 100%;
}

.ui-expanded-row-content td {
    padding: 0 !important;
}

/* to fix dataTable - stickyHeader="true" problem */
.myTabview.ui-tabs {
    position: static;
}

body .ui-tabs.ui-tabs-top .ui-tabs-nav.ui-widget-header li.ui-state-active {
    border-top: 4px solid #3c8dbc;
}

.ui-tabs .ui-tabs-panel {
    padding: 0.5em 0.5em !important;
}

.ui-g-2.p5-20px {
    width: 20% !important;
    padding: 5px;
}

/*******************/
/*      buttons    */
/*******************/

.ui-button,
.ui-button span,
button.ui-button.ui-state-default span,
.ui-button.ui-state-default span {
    font-weight: 500;
}

.ui-button {
    padding: 4px 12px;
    display: inline-block;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.74857143;
    text-align: center;
    /* white-space: nowrap;*/
    white-space: normal;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border-radius: 3px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    text-shadow: none !important;
    color: #444444;
    -webkit-transition: background-color 0.2s;
    -moz-transition: background-color 0.2s;
    -o-transition: background-color 0.2s;
    transition: background-color 0.2s;
    overflow: hidden;

    border: 2px solid #357edd !important;
    background: #ffffff !important;
}

.ui-button:hover {
    background: #357EDD !important;
    color: #ffffff;
}

body .ui-buttonset .ui-state-active {
    background: #357EDD !important;
    color: #ffffff;

}

body .ui-buttonset .ui-button {
    margin-left: 10px;
}

.ui-dialog .ui-dialog-buttonpane {
    text-align: center !important;
}

.ui-selectonebutton {
    display: inline-flex !important;
}

/*.ui-button-text-only .ui-button-text{*/
    /*padding: 0 !important;*/
/*}*/
/*******************/
/*      growl    */
/*******************/
.ui-growl {
    z-index: 9999 !important;
}